$header-height: 60px


$font-color-main: #E8E9EA
$font-color-additional: #9A9DA0
$font-color-decorator: #7A7F82
$font-color-selected-card-cost: #FFA537
$font-color-unselected-card-cost: #9A6B32
$background-color-buttons: #FF6E30
$font-color-selected-card-text: #CFD1D2
$font-color-unselected-card-text: #9A9DA0

$font-style-title: 'Poppins-Medium', sans-serif
$font-style-regular: 'Poppins-Regular', sans-serif
$font-style-attention: 'Popping-SemiBold', sans-serif